.theorem, .definition, .lemma, .proposition, .corollary {
  width: 100%;

  .title {
    font-weight: bold;
    text-decoration: underline dotted darkgray;
    text-align: left;
  }
  .statement {
    width: 100%;
    font-palette: normal;
    text-align: left;
  }
}

.proof-start {
}

.proof {
  .title {
    font-weight: bold;
    text-align: left;
  }

  width: 100%;
  text-align: left;
  font-weight: normal;
}

span.term {
  text-decoration: underline dashed teal;
  //text-decoration-thickness: 2px;
}